
*, *::after, *::before{

  box-sizing: border-box;
}

body {
    margin:0;
    font-family: 'PT Sans Narrow', sans-serif!important;
    padding-top: 52px;
    font-size: 60px;
    line-height: 2px;
  }
  
  .navbar {
    background-color: #333;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    
    margin-bottom: 9px;
  }
  
  .navbar a {
    
    
    color: white;
    text-align: center;
    padding: 14px 16px;
    padding-bottom: 5px;
    text-decoration: none;
  }
  
  .navbar a:hover, .navbar a:active {
    border-bottom: 2px solid white;

    
  }
  
  .logo {
    color: white;
    font-size: 25px;
    margin-left: 5rem;
  }

 /* carosel */
.carousel-section{
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

 .carousel-container {
  position: relative;
  overflow: hidden;
  width: 100%;
 
}

.carousel {
  height: 30rem;
  position: relative;
  display: flex;
  transition: transform 0.5s ease-in-out;
  -webkit-transition: transform 0.5s ease-in-out;
  -moz-transition: transform 0.5s ease-in-out;
  -ms-transition: transform 0.5s ease-in-out;
  -o-transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  flex: 0 0 100%;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  left: 0;
}

.carousel-content {
  position: absolute;
  bottom: 10rem;
  left: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  text-align: center;
  transform: translateY(20px);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}

h2 {
  font-size: 24px;
}

p {
  font-size: 16px;
}

.carousel-section a {
  text-decoration: none;
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

.carousel-dots {
  text-align: center;
  margin-top: 10px;

}

.dot {
 
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: #888;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  
}

.dot.active {
  background-color: #007bff;
}


/* about */

.about-div{
  
  font-family: 'Montserrat', sans-serif !important;
  margin-left: 4rem !important;
  margin-right: 4rem !important;
  color: white !important;
  padding-top: 4rem;
}

.description-div{
  margin-top: 50px;
  background-color: #240620;
  color: white !important;
  height: 35rem;
  padding-bottom: 30px;
}


.center-container {
  text-align: center;
}
.custom-button {
  padding: 7px 10px;
  background-color: white;
  color: rgb(29, 4, 4);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-button:hover {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}
.form-space-control-2{
  padding-bottom: 20px;
  
}
.form-space-control{
  margin-left: 40px;
}


/* <!-- AREAS OF PRACTICE --> */
.area-practice{
  margin-bottom: 5rem;
}
.custom-box {
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.2);
  transition: box-shadow 0.3s ease-in-out;
}

.custom-box:hover {
  box-shadow: 0px 0px 20px rgba(0, 0, 255, 0.5);
}

.custom-box img {
  max-width: 100%;
}

.custom-box h4 {
  margin-top: 10px;
  font-size: 20px;
}

.resized-image{
      width: 60px; 
    height: auto; 
}

.box-file{
  height: 15rem;
  margin-top: 5rem;
}


/* NEED A LAWYER SECTION */
.parent-div {
  background-color: #0c2444;
  padding: 20px; /* Add padding for spacing */
}

/* Custom CSS to center the child divs */
.centered-div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10rem;
  color: white; /* Make the parent div full viewport height */
}

button{
  background-color: #ac742c;
  color: white;
}

/* footer */

.footer-div{
  margin-top: 5rem;
}


/* 
About-us page */
.about-div-one{
  height: 20rem;
  width: 100%;
  background-color: #0f4279;
  margin-left: 0 !important;
  margin-top: 10rem !important;
  background-image: url(images/istockphoto-1449334081-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.about-div-h2{
/* margin: auto; */
text-align: center;
margin-top: 80px;

}
.about-us-feeds{
  margin: auto;
  width: 70%;
  margin-top: 10px;
  margin-bottom: 10rem;
}


/* responsive media queries  */

@media screen and (max-width: 934px){
  .description-div{
    
    height: 50rem;
  }
}

@media screen and (max-width: 672px){
  .description-div{
    
    height: 65rem;
  }
}

@media screen and (max-width: 520px){
  .description-div{
    
    height: 90rem;
  }
}

.p-para {
  font-size: 15px;
  text-align: justify;
  padding-bottom: 15px;
}

h1, h2 {
  font-size: 14px;
}

.h4-para{
  text-align: justify;
  font-size: 18px;
  padding-bottom: 15px;
}

.areas-of-practice{
  text-align: center;
  padding-top: 30px;
}

.form-group{
  margin-bottom: 8px;
}


/* career page div */

.career-first-div{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertical centering */
  align-items: center; /* Horizontal centering */
  height: 20rem;
  width: 100%;
  background-color: #0f4279;
  margin-left: 0 !important;
  margin-top: 10rem !important;
  background-image: url(images/istockphoto-1449334081-612x612.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
  
  
}

.career-h1-div{
  text-align: center;
  color: white;
  font-size: 60px;
 
}
.about-us-para1{
  text-align: justify;
}


.career-h1-span{
  font-size: 20px;
}

.career-second-div{
  margin-top: 5rem;
  height: 6rem;
  text-align: center;
  font-size: 10px;
}

/* form div css path */

 /* Custom CSS for the form */
 .container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin: auto;
  margin-bottom: 5rem;
}

.custom-form {
  width: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s;
}

.custom-form:hover {
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.custom-form label {
  display: block;
  margin-bottom: 5px;
}

.custom-form input[type="text"],
.custom-form input[type="email"],
.custom-form input[type="file"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.custom-form input[type="file"] {
  padding: 6px;
}

.custom-form button {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #fff;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.custom-form button:hover {
  background-color: #0056b3;
}



/* contact page css  */

.parent-div1 {
  width: 100%;
  display: flex;
  /* justify-content: center;
  align-items: center; */
  /* height: 100vh; */
  background-color: #0c2444;
  margin-bottom: 5rem;
  
}

/* First Child Div */
.form-container {
  width: 50%;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  margin-left: 5rem;
  padding-top: 1rem;
}

.form-container label,
.form-container input,
.form-container textarea {
  display: block;
  margin-bottom: 10px;
  width: 100%;
  /* color: white; */
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="text"],
.form-container textarea {
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

/* Second Child Div */
.content-container {
  /* border-left: 1px solid #ccc; */
  padding: 20px;
  margin-left: 50px;
}

.content-container h1 {
  margin-bottom: 20px;
}

/* Button */
.btn {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn:hover {
  background: #010911;
}


.content-container{
  color: white;
}


.map-div{
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  background-color: #007bff;
padding-bottom: 5rem;
}

iframe {
  width: 100%;
}